.wrapper{
    padding-top: 5rem;
    margin:0 auto;
    width: 600px;
}
.txt{
    display: block;
    width: 231px;
    margin: 0 auto;
    padding: 100px 0 50px 0;
}
.ulList{
    width: 600px;
    display: flex;
    justify-content: space-between;
}